{% extends "base.html" %}
{% load static %}
{% block content %}

<header class="masthead bg-footer">
    <section class="bg_footer page-section product " id="choice">
        <div>
          <h3 class="center_text"> Voici la liste des produit que vous,({{user_name}}) avez ajoutés en favoris : </h3>
          {% for recipe in recipes %}
          <div class="container">
            <div class="row">
              <div class="center_text col-sm history_lign">
            
            {{recipe.list_recipe}}
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </section>
</header>
{% endblock %}