{% extends "base.html" %}
{% load static %}
{% block content %}
<title>Acceuil</title>
        <!-- Masthead-->
        {% if user.is_authenticated %}
        <header class="masthead">
            <div class="container h-100">
                <div class="row h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-10 align-self-end">
                        <h1 class="text-uppercase text-white font-weight-bold">Faites vos courses plus simplement avec Simply Food</h1>
                        <hr class="divider my-4 line_home" style="max-width: 13em;"/>
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <p class="text-white-75 font-weight-light mb-5">Simply Food est un outil permettant de créer des listes de courses en regroupant toutes vos recettes . </p>
                        <a class="btn btn-primary btn-xl js-scroll-trigger green_not_on_click" href="tab">Je veux créer ma liste de courses</a>
                    </div>
                </div>
            </div>
        </header>


        {% else %}
        <header class="masthead">
            <div class="container h-100">
                <div class="row h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-10 align-self-end">
                        <h1 class="text-uppercase text-white font-weight-bold">Faites vos courses plus simplement avec Simply Food</h1>
                        <hr class="divider my-4 line_home" style="max-width: 13em;"/>
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <p class="text-white-75 font-weight-light mb-5">Créez vous un compte afin de pouvoir faire votre liste de courses.</p>
                        <a class="btn btn-primary btn-xl js-scroll-trigger" href="/signup">Création d'un compte</a>
                    </div>
                </div>
            </div>
        </header>
       
        {% endif %}

{% endblock %}