{% extends "base.html" %}
{% load static %}
{% block content %}
<!--Custom styles-->

<header class="masthead bg-footer">
  <section class="bg_footer page-section product " id="choice">
      <div>
        <h3 class="center_text">Ta liste de courses est composé de :</h3>
        {% for recipe in recipes %}
        <div class="container">
            <div class=" center_text" style='font-size:1.2em'><u><b>{{recipe.name}}</u></b></div>
            </div>
            <div class=" center_text" style='font-size:1em'>{{recipe.description_list}}</div>
            {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </section>
</header>
{% endblock %}