{% extends "base.html" %}
{% load static %}
{% block content %}
<!--Custom styles-->
<title>Connexion</title>
<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

<body id="page-top" class="signup">

<body id="page-top" class="signup"></body>
<style>
	footer{
		position: fixed;
		
	}
</style>

<!--Login Form-->
<header class="masthead">
  <section>
  <!-- <button onclick="Add_Row()">Call function</button> -->
  <button value="Add a field" class="add" id="add" onclick="add_row()">Add a field</button>
  <button value="Generate" class="add" id="preview" onclick="generate()">Generate</button>
  <button value="" class="" id="" onclick="Parse_json()">Parse Json</button>
  <table id="table_recipe" class="table table-bordered table-dark">
    <thead>
      <tr>
        <th scope="col">Row</th>
        <th scope="col">Déjeuner</th>
        <th scope="col">Dîner</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</fieldset>
  &nbsp;
  <script>
    var i = 0;
     function buttonClick() {
        i++;
     }

    let add_row = function() {
      let tbody = $("tbody");
      const row_id = tbody.length + i;
      buttonClick()
      $("tbody").append(`
      <tr id=tr_row_${row_id}>
        <td>${row_id}</td>
        <td><input class='form-control mr-sm-2 input_recipe' placeholder='Faire une recherche' name='lunch' id='query'></td>
        <td><input class='form-control mr-sm-2 input_recipe' placeholder='Faire une recherche' name='supper' id='query'></td>
        <td><input type="button" class="remove btn btn-outline-secondary" onclick="remove_row(${row_id})" value="Remove"/></td>
      </tr>
      `
      );
    }

    let remove_row = function(row_id) {
      $("#tr_row_"+ row_id).remove();

    }

    let extract_to_json = function() {
      let results = {};
      jsonn.results = [];
      $("tbody > tr").each(element => {

        results.push();
      });
    }
  


    $(document).ready(function() {
    
    $("#preview").click(function() {
        var arr = {};
        arr.items = [];
    
        $(".fieldwrapper").each(function() {
            var entry = {}
            var lunch = $(this).find("input[name='lunch']").val();            
            var supper = $(this).find("input[name='supper']").val();
            entry["lunch"] = lunch;
            entry["supper"] = supper;
            arr.items.push(entry);
        });
        alert (JSON.stringify(arr, null, 4));
    });
    

});

  
  </script>

  
  </section>

  

</header>
{% endblock %}
