{% extends "base.html" %}
{% load static %}
{% block content %}
<!--Custom styles-->
<title>Connexion</title>

<body id="page-top" class="signup"></body>
<style>
	footer{
		position: fixed;
		
	}
</style>

<!--Login Form-->
<header class="masthead">
    <section>
      <form class="form-inline" action="{% url 'recipe' %}" method="GET" accept-charset="utf-8">
        <input class="form-control mr-sm-2" placeholder="Faire une recherche" name="query" id="query">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      <button onclick="Add_Row()">Add</button>
        <table id="table_recipe" class="table table-bordered table-dark">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Déjeuner</th>
                <th scope="col">Dîner</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td><input class="form-control mr-sm-2" placeholder="Faire une recherche" name="query" id="query"></td>
                <td><input class="form-control mr-sm-2" placeholder="Faire une recherche" name="query" id="query"></td>
              </tr>
              <tr>
              </tr>
            </tbody>
          </table>
        </form>
    </section>
</header>
{% endblock %}
