@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.img_logo{
    margin-right: 10px;
    margin-top: -10px;
}
.footer_flexbox{
    display: flex;
    flex-direction: row-reverse;
    padding-bottom: 1rem !important;
    padding-top: 1rem !important;
    background-color: rgba(255, 255, 255, 0.5);
}
.login_radius{
    border-radius: 1.5rem !important;
}
.pic_connexion{
    filter: invert(1);
    margin-right: 10px;
}
.line_home{
    max-width: 10.25rem;
}
.button_connexion{
    margin-right: 10px;
}

.login{
    background-image: url('/static/assets/img/bg-masthead.jpg');
    }

.card_connexion{
    border: 4mm ridge rgba(170, 50, 220, .6);
}
.margin_10{
    margin-left: 10px;
}
.font-color{
    color: aliceblue;
}

.input_recipe{
    width: 500px;
}
.button_go_to_search{
 margin-top: 1.8em;
}

.bg-footer {
    background-color: #de9440;
}
.center_text{
    width: 60%;
    margin: 0 auto;
    margin-bottom: 10px;
    color: rgba(255, 255, 255, 0.7);
    font-family: "Merriweather Sans", -apple-system, "Segoe UI Symbol";
    margin-top: 0.2em;
    font-size: 2em;
    text-align: center;

}
.align{
    text-align: center;
}
.align_input{
    display: flex;
    justify-content: center;
    align-items: center;
}
.history_lign{
    
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em !important;
}

.history_logo{
   color: rgba(255, 255, 255, 0.7);
    margin-right: 1em;
}
.margin_top{
    margin-top: 4em;
}
.margin_top2{
    margin-top: 1em;
}
.margin_bottom{
    margin-bottom: 1.5em ;
}
.space_btwn_buttons{
    margin-right: 4em;
    margin-left: 4em;
}
.last_recipe_history{
    display: block;
    margin-left: auto;
    margin-right: auto
}
.myaccount{
    margin-right: 1em;
    color: rgba(255, 255, 255, 0.7);
    font-family: "Merriweather Sans", -apple-system, "Segoe UI Symbol";
    margin-top: 0.2em;
}
.logout{
    margin-right: 0em !important;
}
.green_not_on_click{
    background-color: #07A859;
    border-color: transparent;

}
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
    table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
}